.home-container {
  display: flex;
  align-items: center;
  height: 90vh;
}

.search-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  .search-title {
    margin: 0;
    align-self: flex-end;
    padding-left: 80px;
    color: #3B4252;
    font-family: Lato;
    font-size: 40px;
    font-style: italic;
    font-weight: 200;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    background-color: #FFFFFF;
    border: 1px solid #3B4252;
    border-radius: 5px;
    padding-left: 20px;
    width: 400px;
    height: 50px;
  
    color: #8190A5;
    font-family: Lato;
    font-size: 18px;
    font-style: italic;
    line-height: 62px;
    width: 290px;
    text-align: left;
  }
  
  .search-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #47525E;
    border-radius: 5px;
    padding: 0 10px;
    width: 118px;
    height: 50px;
  
    color: #ECEFF4;
    font-family: Lato;
    font-size: 22px;
    font-style: italic;
  
  }
  
  .iconLupa {
    width: 30px;
    height: 30px;
  }

  .errorMessage {
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(230, 153, 125);
    border-radius: 20px;
    text-align: center;
    font-size: 1.3em;
  }

  @media (max-width: 568px) {
    .input-container {
      flex-direction: column;
    }
    .search-title {
      width: 100%;
      padding: 0;
    }

    .search-input {
      width: 100%;
    }

    .search-button {
      margin-top: 10px;
    }
  }